<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Unternehmens-Interface</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<div class="container">
<h1 class="text-center">
Unternehmens-Interface V0.0.1
  </h1>
<p class="text-center">
Herzlich Wilkommen im Unternehmens-Interface. Du kannst hier dein Unternehmen managen, Gehälter bezahlen und Bestellungen an das Warenlager aufgeben.
  </p>
<p>
  Um dich einzuloggen, gebe bitte deine Daten hier ein:
  </p>
<div class="form-group">
<form action="https://ablaze-receipt.glitch.me/companylogin" method="post">
  Unternehmen (bitte genau wie vorher angegeben eintippen): <input class="form-control" type="text" name="company" required><br>
  Unternehmens-ID: <input class="form-control" type="text" name="companycode" required><br>
  Dein vollständiger Name: <input class="form-control" type="text" name="fullname" required><br>
  Deine ID (Wir benötigen diese, damit keine unbefugte Person Änderungen vornimmt): <input class="form-control" type="text" name="code" required><br>
  <br>
  <input class="btn-default" type="submit" value="Absenden">
</form>
  </div>
    </div>


  </body>
</html>
